{% extends 'base.html' %}
{% block title %}
    {{ userdata.first_name }} {{ userdata.last_name }} Records
{% endblock title %}
{% block content %}
    <div class="container text-center">
        {% if entries %}
            <h1 class="display-4 text-primary">
                {{ userdata.first_name }} {{ userdata.last_name }}'s contributions for the year {% now 'Y' %}
            </h1>
            <hr class="mb-2">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date Recorded</th>
                        <th scope="col">Record Detail</th>
                        <th scope="col">Amount (#)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for entry in entries %}
                        <tr>
                            <th scope="row">{{ entry.last_updated }}</th>
                            <td>{{ entry.record }}</td>
                            <td>{{ entry.value }}</td>
                            <td>
                                <a href="{% url 'update_entry' entry.pk %}" class="btn btn-info">Update</a> - <a href="{% url 'delete_entry' entry.pk %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-group-divider">
                    <tr>
                        <th scope="colgroup">#</th>
                        <th scope="colgroup">Total</th>
                        <th scope="colgroup">{{ total }}</th>
                    </tr>
                </tfoot>
            </table>
            <footer>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4 p-3 sticky-bottom">
                    <a href="{% url 'create_entry' userdata.pk %}"
                       class="btn btn-success btn-lg">Add Record</a>
                </div>
            </footer>
        {% else %}
            <h1 class="display-3 text-warning">{{ userdata.first_name }} {{ userdata.last_name }} has no records yet</h1>
            <a href="{% url 'create_entry' userdata.pk %}"
               class="btn btn-primary btn-lg">ADD RECORD</a>
        {% endif %}
    </div>
{% endblock content %}
