{% extends 'base.html' %}
{% block title %}
    Update {{ useraccount.name }}
{% endblock title %}
{% block content %}
    <div class="container text-center mb-4">
        <h1 class="display-4 text-primary">Update {{ useraccount.name }}</h1>
        <hr>
    </div>
    <div class="container text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-success" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}
